<!DOCTYPE html>
<html>
    <head>
        <!--connecting to meta-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!--connecting to css-->
        <link href="/Design_X_Club/resouces/css/style_resourses.css" rel="stylesheet">
        <link href="/Design_X_Club/resouces/css/circle_design.css" rel="stylesheet">
        <link href="/Design_X_Club/resouces/css/footer.css" rel="stylesheet">
        <!--bootstrap depedencies-->
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <!--connecting to stylesheet-->
        <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <!--connecting to bootstrap-->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <!--google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Monoton|Shadows+Into+Light&display=swap" rel="stylesheet">
        <title>resourse</title>
    </head>
    <!--style="background-image: url('images/background.jpg');" background needs to be included since all background are not fitting-->
    <body style="background-image: url('/Design_X_Club/resouces/images/back.jpg');background-repeat: no-repeat;background-position:100%;background-size:cover;width: 100%;height: 100%;">
        <!----------------------------------------------navigation bar to included with 6 ------------------------------------------------>
        <nav class="navbar navbar-dark navbar-expand-lg fixed-top" id="mainNav">
            <div class="container-fluid">
                <a class="navbar-brand js-scroll-trigger" href="#">
                    <!--INSERT LOGO HERE-->
                    <img class="bg-white border rounded-0 border-dark shadow-lg logo" src="" />
                </a>
                <button data-toggle="collapse" data-target="#nav" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-align-justify"></i>
                </button>
                <div class="collapse navbar-collapse" id="nav">
                    <ul class="nav navbar-nav ml-auto">
                        <li role="presentation" class="nav-item">
                            <a class="nav-link text-center active js-scroll-trigger entry">HOME</a>
                        </li>
                        <li role="presentation" class="nav-item">
                            <a class="nav-link text-center active js-scroll-trigger entry">RESOURCES</a>
                        </li>
                        <li role="presentation" class="nav-item">
                            <a class="nav-link text-center active js-scroll-trigger entry">GALLERY</a>
                        </li>
                        <li role="presentation" class="nav-item">
                            <a class="nav-link text-center active js-scroll-trigger entry">EVENTS</a>
                        </li>
                        <li role="presentation" class="nav-item">
                            <a class="nav-link text-center active js-scroll-trigger entry">HALL OF FAME</a>
                        </li>
                        <li role="presentation" class="nav-item">
                            <a class="nav-link active text-center js-scroll-trigger entry">PROJECTS</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--------------------------------heading included--------------------------------------------------->
        <header class="container">
            <div= class="row">
            <h1 id="heading" class="col-sm-9" style="padding:20px auto;font-size: 120px;font-family: 'Monoton', cursive;">RESOURCES</h1>
        </div>
        </header>

        <div class="container">
        <div class="row">
            <!-------------------------------subheading included----------------------------------------------->
            <div class="col-sm-12" >
                <h2 style=" color:cornsilk;text-align:center;font-size:20px;font-style: Raleway;padding:20px auto;">WANT TO LEARN SOMETHING NEW ? WE HAVE IT FOR YOU</h2>
            </div>
            <!--<div class="col-sm-6">
            <img src="images/image_15.jpg">
            </div>-->
            <!---------------------------------including 9 circles incontiner with 3 rows each containing 3 circles------------------------------------------------------------>
            <div class="container">
                <div class="row">
                   <!---------------------------each circles are equally spaced and each of the circles have the link which are innitially empty but must be filled with the links of repective resources-->
                  <div class="col-sm-4" >
                    <div class="circle circle1" style="background-image: url('/Design_X_Club/resouces/images/Image_16.png');background-repeat: no-repeat;background-position:50%;">
                      <a href="#section_1"></a>
                  </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="circle circle2" style="background-image: url('/Design_X_Club/resouces/images/Image_17.png');background-repeat: no-repeat;background-position:50%;">
                      <a href="#section_2"></a>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="circle circle3" style="background-image: url('/Design_X_Club/resouces/images/Image_18.png');background-repeat: no-repeat;background-position:50%;">
                      <a href="#section_3"></a>
                    </div>
                  </div>
                </div>
                
                </div>
                <div class="row">
                   <!---------------------------each circles are equally spaced and each of the circles have the link which are innitially empty but must be filled with the links of repective resources-->
                    <div class="col-sm-4" >
                      <div class="circle circle1" style="background-image: url('/Design_X_Club/resouces/images/Image_19.png');background-repeat: no-repeat;background-position:50%;">
                        <a href="#section_1"></a>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="circle circle2" style="background-image: url('/Design_X_Club/resouces/images/Image_20.png');background-repeat: no-repeat;background-position:50%;">
                        <a href="#section_2"></a>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="circle circle3" style="background-image: url('/Design_X_Club/resouces/images/Image_21.png');background-repeat: no-repeat;background-position:50%;">
                        <a href="#section_3"></a>
                      </div>
                    </div>
                 
                  
                </div>
                 <div class="row">
                   <!---------------------------each circles are equally spaced and each of the circles have the link which are innitially empty but must be filled with the links of repective resources-->
                    <div class="col-sm-4" >
                      <div class="circle circle1" style="background-image: url('/Design_X_Club/resouces/images/Image_22.png');background-repeat: no-repeat;background-position:50%;">
                        <a href="#section_1"></a>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="circle circle2" style="background-image: url('/Design_X_Club/resouces/images/Image_23.png');background-repeat: no-repeat;background-position:50%;">
                        <a href="#section_2"></a>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="circle circle3" style="background-image: url('/Design_X_Club/resouces/images/Image_24.png');background-repeat: no-repeat;background-position:50%;">
                        <a href="#section_3"></a>
                      </div>
                    </div>
                  
                </div>
                <!---------------------------including the 3 cards for assignments,ppt's and blogs-------------------------------->
                    <div class="row" style="left:100px">
                <!--------card has four parts an image part,heading ,body inside it has few links and link to a page where respective assignments------------>
                        <div class="col-sm-4">
                            <div class="container" style="margin-top:30px">
                
                                <div class="card" style="width: 18rem;">
                          <!----------------------link for image-------------------------------------------------->
                                    <img class="card-img-top" src="/Design_X_Club/resouces/images/assgs.jpg" alt="Card image cap">
                                    <div class="card-body">
                         <!------------------heading in the card body--------------------------------------------->
                                        <h5 class="card-title">Assignments</h5>
                                        <p class="card-text">Recent Assignments given</p>
                                    </div>
                         <!------------------the list of the recent assignments ---------------------------------->
                                    <ul class="list-group list-group-flush">
                                        <li href="#" class="list-group-item list-group-item-action">Competetive Programming Sample Set-2</li>
                                        <li href="#" class="list-group-item list-group-item-action">Application of Classification Problem </li>
                                        <li href="#" class="list-group-item list-group-item-action">Attendence App</li>
                                    </ul>
                                    <div class="card-body">
                         <!------------------------link to be added to access previous assignments----------------->
                                        <a href="#" class="card-link">Previous Assignments</a>
                    
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <!--------card has four parts an image part,heading ,body inside it has few links and link to a page where respective assignments------------>
                        <div class="col-sm-4" >
                            <div class="container" style="margin-top:30px">
                
                                <div class="card" style="width: 18rem;">
                         <!---------------------------link for image-------------------------------------------------->
                                    <img class="card-img-top" src="/Design_X_Club/resouces/images/ppt.jpg" alt="Card image cap">
                                    <div class="card-body">
                        <!------------------heading in the card body--------------------------------------------->
                                        <h5 class="card-title">PPT'S of club sessions</h5>
                                        <p class="card-text">Some recent ppts of the club session.</p>
                                    </div>
                        <!------------------the list of the recent PPT's ---------------------------------->
                                    <ul class="list-group list-group-flush">
                                        <li href="#" class="list-group-item list-group-item-action" >GIT</li>
                                        <li href="#" class="list-group-item list-group-item-action">DEEP LEARNING</li>
                                        <li href="#" class="list-group-item list-group-item-action">LINUX COMMANDS</li>
                                    </ul>
                                    <div class="card-body">
                        <!------------------------link to be added to access previous ppts----------------->
                                        <a href="#" class="card-link">Previous PPT's</a>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <!--------card has four parts an image part,heading ,body inside it has few links and link to a page where respective assignments------------>
                        <div class="col-sm-4" >
                            <div class="container" style="margin-top:30px">
                         <!---------------------------link for image-------------------------------------------------->
                                <div class="card" style="width: 18rem;">
                                    <img class="card-img-top" src="/Design_X_Club/resouces/images/blog.jpg" alt="Card image cap">
                                    <div class="card-body">
                        <!------------------------heading in the card body--------------------------------------------->
                                        <h5 class="card-title">Blogs</h5>
                                        <p class="card-text">some blogs which could give you more insight and knowledge</p>
                                    </div>
                        <!------------------------------the list of the recent blogs ---------------------------------->           
                                    <ul class="list-group list-group-flush">
                                        <li href="#" class="list-group-item list-group-item-action" >Interviwe Experience by XYZ</li>
                                        <li href="#" class="list-group-item list-group-item-action">How to apply for internships? by ABC</li>
                                        <li href="#" class="list-group-item list-group-item-action">How and when to apply for MS by RST</li>
                                    </ul>
                                    <div class="card-body">
                        <!------------------------link to be added to access previous blogs----------------->
                                        <a href="#" class="card-link">Previous Blogs</a>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
               
            </div>
        </div>
        </div>
        <!--------------------------------------------footer included with 3 social media links and 4 page links------------------------------------------------>
        <div class="footer">
            <footer>
                <div class="text-light social">
                    <a href="#" target="_blank"><i class="icon ion-social-instagram"></i></a>
                    <a href="#" target="_blank"><i class="icon ion-social-linkedin"></i></a>
                    <a href="#" target="_blank"><i class="icon ion-social-facebook"></i></a>
                    
                </div>
                <ul class="list-inline text-light" >
                    <li class="list-inline-item entry" ><a href="#">RESOURCES</a></li>
                    <li class="list-inline-item entry" ><a href="#">GALLERY</a></li>
                    <li class="list-inline-item entry" ><a href="#">EVENTS</a></li>
                    <li class="list-inline-item entry" ><a href="#">PROJECTS</a></li>
                </ul>
                <p class="copyright"><a href="http://www.iiitg.ac.in/" target="_blank">Indian Institute of Information Technology Guwahati &copy; 2020</a></p>
            </footer>
        </div>
        <!--links for scrits included-->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>