/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .team {
        background-color: #13171d;
        height: 500px;
        position: relative;
        width: 100%;
        display: block;
    }

    .team-header {
        text-align: center;
        margin-bottom: 30px;
    }

    .team-header h1 {
        color: antiquewhite;
    }

    .box {
        position: relative;
        perspective: 1000px;
        height: 200px;
        width: 200px;
        left: 20%;
    }

    .column {
        margin: 20px;
    }

    .box-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

    .box .box-img {
        transform: rotateY(0deg);
        transition: all 0.50s ease-in-out 0s;
        border-radius: 10px;
    }

    .box:hover .box-img {
        transform: rotateY(-180deg);
        visibility: hidden;
    }

    .box .box-img img {
        height: 200px;
        width: 200px;
        border-radius: 10px;
    }

    .box .box-content {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding: 60px 20px;
        text-align: center;
        background-color: #4F6A8E;
        transform: rotateY(180deg);
        transition: all 0.50s ease-in-out 0s;
        visibility: hidden;
        border-radius: 10px;
    }

    .box:hover .box-content {
        transform: rotateY(0deg);
        visibility: visible;
    }

    .box .title {
        font-size: 15px;
        color: #fff;
        text-transform: uppercase;
    }

    .box .description {
        font-size: 12px;
        line-height: 24px;
        color: #fff;
    }

    .box .title:after,
    .box .description:after {
        content: "";
        width: 80%;
        display: block;
        border-bottom: 1px solid #fff;
        margin: 15px auto;
    }

    .box .social-links {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .box .social-links li {
        display: inline-block;
        margin: 0 10px;
    }

    .box .social-links li a {
        font-size: 20px;
        color: #fff;
    }

    .box .social-links li a i {
        font-size: 15px;
        color: #fff;
    }

    .box .social-links li a:hover {
        text-decoration: none;
        color: #a6a6a6;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .team {
        background-color: #13171d;
        height: 500px;
        position: relative;
        width: 100%;
        display: block;
    }

    .team-header {
        text-align: center;
        margin-bottom: 30px;
    }

    .team-header h1 {
        color: antiquewhite;
    }

    .box {
        position: relative;
        perspective: 1000px;
        height: 250px;
        width: 200px;
    }

    .column {
        margin: 20px;
    }

    .box-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

    .box .box-img {
        transform: rotateY(0deg);
        transition: all 0.50s ease-in-out 0s;
        border-radius: 10px;
    }

    .box:hover .box-img {
        transform: rotateY(-180deg);
        visibility: hidden;
    }

    .box .box-img img {
        height: 250px;
        width: 200px;
        border-radius: 10px;
    }

    .box .box-content {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding: 60px 20px;
        text-align: center;
        background-color: #4F6A8E;
        transform: rotateY(180deg);
        transition: all 0.50s ease-in-out 0s;
        visibility: hidden;
        border-radius: 10px;
    }

    .box:hover .box-content {
        transform: rotateY(0deg);
        visibility: visible;
    }

    .box .title {
        font-size: 15px;
        color: #fff;
        text-transform: uppercase;
    }

    .box .description {
        font-size: 12px;
        line-height: 24px;
        color: #fff;
    }

    .box .title:after,
    .box .description:after {
        content: "";
        width: 80%;
        display: block;
        border-bottom: 1px solid #fff;
        margin: 15px auto;
    }

    .box .social-links {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .box .social-links li {
        display: inline-block;
        margin: 0 10px;
    }

    .box .social-links li a {
        font-size: 20px;
        color: #fff;
    }

    .box .social-links li a i {
        font-size: 15px;
        color: #fff;
    }

    .box .social-links li a:hover {
        text-decoration: none;
        color: #a6a6a6;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .team {
        background-color: #13171d;
        height: 400px;
        position: relative;
        width: 100%;
        display: block;
    }

    .team-header {
        text-align: center;
        margin-bottom: 30px;
    }

    .team-header h1 {
        color: antiquewhite;
    }

    .box {
        position: relative;
        perspective: 1000px;
        height: 250px;
        width: 200px;
    }

    .column {
        margin: 20px;
    }

    .box-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

    .box .box-img {
        transform: rotateY(0deg);
        transition: all 0.50s ease-in-out 0s;
        border-radius: 10px;
    }

    .box:hover .box-img {
        transform: rotateY(-180deg);
        visibility: hidden;
    }

    .box .box-img img {
        height: 250px;
        width: 200px;
        border-radius: 10px;
    }

    .box .box-content {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding: 60px 20px;
        text-align: center;
        background-color: #4F6A8E;
        transform: rotateY(180deg);
        transition: all 0.50s ease-in-out 0s;
        visibility: hidden;
        border-radius: 10px;
    }

    .box:hover .box-content {
        transform: rotateY(0deg);
        visibility: visible;
    }

    .box .title {
        font-size: 15px;
        color: #fff;
        text-transform: uppercase;
    }

    .box .description {
        font-size: 12px;
        line-height: 24px;
        color: #fff;
    }

    .box .title:after,
    .box .description:after {
        content: "";
        width: 80%;
        display: block;
        border-bottom: 1px solid #fff;
        margin: 15px auto;
    }

    .box .social-links {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .box .social-links li {
        display: inline-block;
        margin: 0 10px;
    }

    .box .social-links li a {
        font-size: 20px;
        color: #fff;
    }

    .box .social-links li a i {
        font-size: 15px;
        color: #fff;
    }

    .box .social-links li a:hover {
        text-decoration: none;
        color: #a6a6a6;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .team {
        background-color: #13171d;
        height: 400px;
        position: relative;
        width: 100%;
        display: block;
    }

    .team-header {
        text-align: center;
        margin-bottom: 30px;
    }

    .team-header h1 {
        color: antiquewhite;
    }

    .box {
        position: relative;
        perspective: 1000px;
        height: 300px;
        width: 300px;
    }

    .column {
        margin: 20px;
    }

    .box-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

    .box .box-img {
        transform: rotateY(0deg);
        transition: all 0.50s ease-in-out 0s;
        border-radius: 10px;
    }

    .box:hover .box-img {
        transform: rotateY(-180deg);
        visibility: hidden;
    }

    .box .box-img img {
        height: 300px;
        width: 300px;
        border-radius: 10px;
    }

    .box .box-content {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding: 60px 20px;
        text-align: center;
        background-color: #4F6A8E;
        transform: rotateY(180deg);
        transition: all 0.50s ease-in-out 0s;
        visibility: hidden;
        border-radius: 10px;
    }

    .box:hover .box-content {
        transform: rotateY(0deg);
        visibility: visible;
    }

    .box .title {
        font-size: 20px;
        color: #fff;
        text-transform: uppercase;
    }

    .box .description {
        font-size: 14px;
        line-height: 24px;
        color: #fff;
    }

    .box .title:after,
    .box .description:after {
        content: "";
        width: 80%;
        display: block;
        border-bottom: 1px solid #fff;
        margin: 15px auto;
    }

    .box .social-links {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .box .social-links li {
        display: inline-block;
        margin: 0 10px;
    }

    .box .social-links li a {
        font-size: 20px;
        color: #fff;
    }

    .box .social-links li a:hover {
        text-decoration: none;
        color: #a6a6a6;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .team {
        background-color: #13171d;
        height: 400px;
        position: relative;
        width: 100%;
        display: block;
    }

    .team-header {
        text-align: center;
        margin-bottom: 30px;
        font-weight: 900;
        letter-spacing: 2px;
    }

    .team-header h1 {
        color: antiquewhite;
    }

    .box {
        position: relative;
        perspective: 1000px;
        height: 300px;
        width: 300px;
    }

    .box-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

    .box .box-img {
        transform: rotateY(0deg);
        transition: all 0.50s ease-in-out 0s;
        border-radius: 10px;
    }

    .box:hover .box-img {
        transform: rotateY(-180deg);
        visibility: hidden;
    }

    .box .box-img img {
        height: 300px;
        width: 300px;
        border-radius: 10px;
    }

    .box .box-content {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding: 60px 20px;
        text-align: center;
        background-color: #4F6A8E;
        transform: rotateY(180deg);
        transition: all 0.50s ease-in-out 0s;
        visibility: hidden;
        border-radius: 10px;
    }

    .box:hover .box-content {
        transform: rotateY(0deg);
        visibility: visible;
    }

    .box .title {
        font-size: 20px;
        color: #fff;
        text-transform: uppercase;
    }

    .box .description {
        font-size: 14px;
        line-height: 24px;
        color: #fff;
    }

    .box .title:after,
    .box .description:after {
        content: "";
        width: 80%;
        display: block;
        border-bottom: 1px solid #fff;
        margin: 15px auto;
    }

    .box .social-links {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .box .social-links li {
        display: inline-block;
        margin: 0 10px;
    }

    .box .social-links li a {
        font-size: 20px;
        color: #fff;
    }

    .box .social-links li a:hover {
        text-decoration: none;
        color: #a6a6a6;
    }
}

@media only screen and (max-width: 990px) {
    .box {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 479px) {
    .box .box-content {
        padding: 20px;
    }
}
