* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(211, 120, 120);
}
.demo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.carousel__container {
  position: relative;
  width: 500px;
  max-width: 100%;
  margin: auto;
  padding-bottom: 20px;
  overflow: hidden;
  background-color: rgb(226, 204, 226);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.685);
}
.carousel__slide {
  display: flex;
  align-items: center;
}
.carousel__item {
  flex: 0 0 100%;
  text-align: center;
  padding: 15px;
}
.carousel__slide img {
  width: 100%;
  pointer-events: none;
}
#prevBtn,
#nextBtn {
  color: white;
  font-size: 15px;
}
.carousel__button {
  position: absolute;
  width: 30px;
  height: 40px;
  top: 50%;
  transform: translate(0, -50%);
  background-color: black;
  outline: 0;
  border: none;
  cursor: pointer;
}
.carousel__button--prev {
  left: 0;
}
.carousel__button--next {
  right: 0;
  transform: rotateY(180deg) translate(0, -50%);
}
.carousel__dots {
  display: flex;
  flex: 0 0 100%;
  justify-content: center;
  align-items: center;

  list-style: none;
}
.carousel__dots > li {
  width: 10px;
  height: 10px;
  margin: 0 10px;
  padding: 0;

  cursor: pointer;
}
.carousel__dots > li > button {
  position: relative;
  font-size: 0;
  line-height: 0;

  display: block;

  width: 10px;
  height: 10px;

  cursor: pointer;

  color: transparent;
  border: none;
  outline: 0;
  background-color: transparent;
}
.carousel__dots > li > button::before {
  opacity: 0.5;
  background-color: black;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.carousel__dots > li.slide-active > button::before {
  opacity: 0.75;
}