<!DOCTYPE html>
<html lang="en">

<head>
    <!--==================================== META TAGS AND TITLE ==========================================-->
    <meta charset="UTF-8">
    <title>Technical Board - Events</title>
    <!--==================================== META TAGS AND TITLE ==========================================-->
    <!--============================================ BOOTSTRAP CDN ==============================================-->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!--============================================ BOOTSTRAP CDN END ==============================================-->
    <!--====================================== IMAGE SLIDER CSS ====================================-->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="./public/events/css/image-slider.css">
    <!--====================================== IMAGE SLIDER CSS END ====================================-->
    <!--===================================== GALLERY CSS ======================================================-->
    <link rel="stylesheet" type="text/css" href="./public/events/css/gallery.css">
    <!--===================================== GALLERY CSS END===================================================-->
    <!--===================================== NAVIGATION BAR CSS =============================================-->
    <link rel="stylesheet" type="text/css" href="./public/events/css/nav.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <!--===================================== NAVIGATION BAR CSS END =============================================-->
</head>

<body>
    <!--================================== CONTENT ==========================================-->
    <div class="container description">
        <div>
            <div class="text-center">
                <h1 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                    <font color="#ffffff">Events
                </h1>
            </div>
            <br>
            <!--===================================== ONGOING EVENT GALLERY =====================================-->

            <div>
                <h4 class="text-center" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Ongoing Event
                </h4>
                <div class="image-slider"></div>
                <button class="btn btn-primary" role="button" style="position: relative; top : 10px; left:45%" data-toggle="modal" data-target="#exampleModal1">Dive in</button>
                <br>
                <br>
                <!--===================================== ONGOING EVENT GALLERY END =================================-->


                <!--===================================== pop up modals for 'read more' =====================================-->
                <div class="modal fade bd-example-modal-lg" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title" id="exampleModalLabel" style="color:#007771;">
                                    Ongoing Events</h6>
                                <!-- The title of the modal -->
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body" style="color: black;">
                                <!-- The content inside the modal box -->
                                <p>hfshdfjbd;hfnisdgnij anefonaknddff fffffffffffff fffffffffffffffffffffff ffffffffffff ffffffffffffffffffffffffffff
                                </p>
                                <ul class="list-group">
                                    <li class="list-group-item">Cras justo odio<button type="button" class="btn btn-primary" class="read-more" data-toggle="modal" data-target="#ongoing01" style="position: absolute; right:0px; top:0px; height:100%;">Read more</button></li>
                                    <li class="list-group-item">Dapibus ac facilisis in<button type="button" class="btn btn-primary" class="read-more" data-toggle="modal" data-target="#ongoing02" style="position: absolute; right:0px; top:0px; height:100%;">Read more</button></li>
                                    <li class="list-group-item">Morbi leo risus<button type="button" class="btn btn-primary" class="read-more" data-toggle="modal" data-target="#ongoing03" style="position: absolute; right:0px; top:0px; height:100%;">Read more</button></li>
                                    <li class="list-group-item">Porta ac consectetur ac<button type="button" class="btn btn-primary" class="read-more" data-toggle="modal" data-target="#ongoing04" style="position: absolute; right:0px; top:0px; height:100%;">Read more</button></li>
                                    <li class="list-group-item">Vestibulum at eros<button type="button" class="btn btn-primary" class="read-more" data-toggle="modal" data-target="#ongoing05" style="position: absolute; right:0px; top:0px; height:100%;">Read more</button></li>
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <!-- The close button in the bottom of the modal -->
                            </div>
                        </div>
                    </div>
                </div>

                <!--===================================== pop up modals for ongoing events=====================================-->
                <div class="modal fade bd-example-modal-lg" id="ongoing01" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title" id="exampleModalLabel" style="color:#007771;">
                                    Lorem, ipsum. 2</h6>
                                <!-- The title of the modal -->
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                            </div>
                            <div class="modal-body" style="color: black;">
                                <!-- The content inside the modal box -->
                                <h5>Date : </h5>
                                <p>(date)</p>
                                <br>
                                <h5>Venue : </h5>
                                <p>(place)</p>
                                <br>
                                <br>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, magni!
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <!-- The close button in the bottom of the modal -->
                            </div>
                        </div>
                    </div>
                </div>


                <div class="modal fade bd-example-modal-lg" id="ongoing02" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title" id="exampleModalLabel" style="color:#007771;">
                                    Lorem, ipsum. 2</h6>
                                <!-- The title of the modal -->
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                            </div>
                            <div class="modal-body" style="color: black;">
                                <!-- The content inside the modal box -->
                                <h5>Date : </h5>
                                <p>(date)</p>
                                <br>
                                <h5>Venue : </h5>
                                <p>(place)</p>
                                <br>
                                <br>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, magni!
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <!-- The close button in the bottom of the modal -->
                            </div>
                        </div>
                    </div>
                </div>



                <div class="modal fade bd-example-modal-lg" id="ongoing03" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title" id="exampleModalLabel" style="color:#007771;">
                                    Lorem, ipsum. 2</h6>
                                <!-- The title of the modal -->
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                            </div>
                            <div class="modal-body" style="color: black;">
                                <!-- The content inside the modal box -->
                                <h5>Date : </h5>
                                <p>(date)</p>
                                <br>
                                <h5>Venue : </h5>
                                <p>(place)</p>
                                <br>
                                <br>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, magni!
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <!-- The close button in the bottom of the modal -->
                            </div>
                        </div>
                    </div>
                </div>



                <div class="modal fade bd-example-modal-lg" id="ongoing04" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title" id="exampleModalLabel" style="color:#007771;">
                                    Lorem, ipsum. 2</h6>
                                <!-- The title of the modal -->
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                            </div>
                            <div class="modal-body" style="color: black;">
                                <!-- The content inside the modal box -->
                                <h5>Date : </h5>
                                <p>(date)</p>
                                <br>
                                <h5>Venue : </h5>
                                <p>(place)</p>
                                <br>
                                <br>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, magni!
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <!-- The close button in the bottom of the modal -->
                            </div>
                        </div>
                    </div>
                </div>



                <div class="modal fade bd-example-modal-lg" id="ongoing05" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title" id="exampleModalLabel" style="color:#007771;">
                                    Lorem, ipsum. 2</h6>
                                <!-- The title of the modal -->
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                            </div>
                            <div class="modal-body" style="color: black;">
                                <!-- The content inside the modal box -->
                                <h5>Date : </h5>
                                <p>(date)</p>
                                <br>
                                <h5>Venue : </h5>
                                <p>(place)</p>
                                <br>
                                <br>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, magni!
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <!-- The close button in the bottom of the modal -->
                            </div>
                        </div>
                    </div>
                </div>



                <!--===================================== pop up modals for ongoing events END=====================================-->

                <div class="modal fade bd-example-modal-lg" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title" id="exampleModalLabel" style="color:#007771;">
                                    Lorem, ipsum. 2</h6>
                                <!-- The title of the modal -->
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body" style="color: black;">
                                <!-- The content inside the modal box -->
                                <h5>Date : </h5>
                                <p>(date)</p>
                                <br>
                                <h5>Venue : </h5>
                                <p>(place)</p>
                                <br>
                                <br>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, magni!
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <!-- The close button in the bottom of the modal -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade bd-example-modal-lg" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title" id="exampleModalLabel" style="color:#007771;">
                                    Lorem, ipsum. 3</h6>
                                <!-- The title of the modal -->
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body" style="color: black;">
                                <!-- The content inside the modal box -->
                                <h5>Date : </h5>
                                <p>(date)</p>
                                <br>
                                <h5>Venue : </h5>
                                <p>(place)</p>
                                <br>
                                <br>
                                <p>hfshdfjbd;hfnisdgnijanefona knddfffffffffffff ffffffffffffff ffffffffffffff ffffffffffffffff fffffffffffffffffffff
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <!-- The close button in the bottom of the modal -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade bd-example-modal-lg" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title" id="exampleModalLabel" style="color:#007771;">
                                    Lorem, ipsum. 4</h6>
                                <!-- The title of the modal -->
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body" style="color: black;">
                                <!-- The content inside the modal box -->
                                <h5>Date : </h5>
                                <p>(date)</p>
                                <br>
                                <h5>Venue : </h5>
                                <p>(place)</p>
                                <br>
                                <br>
                                <p>hfshdfjbd;hfnisdgnij anefonaknddfffffff ffffffffffffffffffffffffffffff fffffffffffffffff ffffffffffffffffffffffff
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <!-- The close button in the bottom of the modal -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade bd-example-modal-lg" id="exampleModal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title" id="exampleModalLabel" style="color:#007771;">
                                    Lorem, ipsum. 5</h6>
                                <!-- The title of the modal -->
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body" style="color: black;">
                                <!-- The content inside the modal box -->
                                <h5>Date : </h5>
                                <p>(date)</p>
                                <br>
                                <h5>Venue : </h5>
                                <p>(place)</p>
                                <br>
                                <br>
                                <p>hfshdfjbd;h fnisdgnijanefonaknddffffffffffffffff ffffffffffffff ffffffffffffffffffffffffffffffffff ffffffffffffff
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <!-- The close button in the bottom of the modal -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade bd-example-modal-lg" id="exampleModal6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title" id="exampleModalLabel" style="color:#007771;">
                                    Lorem, ipsum. 6</h6>
                                <!-- The title of the modal -->
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body" style="color: black;">
                                <!-- The content inside the modal box -->
                                <h5>Date : </h5>
                                <p>(date)</p>
                                <br>
                                <h5>Venue : </h5>
                                <p>(place)</p>
                                <br>
                                <br>
                                <p>hfshdfjbd;hfnisdgni janefonaknddffffffff fffffffffffffffffffffffffffff ffffffffffffffffffff fffffffffffffffffffff
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <!-- The close button in the bottom of the modal -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade bd-example-modal-lg" id="exampleModal7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title" id="exampleModalLabel" style="color:#007771;">
                                    Lorem, ipsum. 7</h6>
                                <!-- The title of the modal -->
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body" style="color: black;">
                                <!-- The content inside the modal box -->
                                <h5>Date : </h5>
                                <p>(date)</p>
                                <br>
                                <h5>Venue : </h5>
                                <p>(place)</p>
                                <br>
                                <br>
                                <p>hfshdfjbd;hfnisdgn ijanefonaknddfffffffffff fffffffffffffffff ffffffffffffffffffff ffffffffffffffffffffffffffffff
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <!-- The close button in the bottom of the modal -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--===================================== pop up modals for 'read more' END =====================================-->
        </div>
    </div>
    <!--================================== CONTENT END ==========================================-->
    <!--===================================== GALLERY ===================================================-->
    <section class="gallery">
        <div class="header">
            <h4 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Past Events</h4>
        </div>
        <div class="container">
            <!--============================================= ROW 1 ==============================================-->
            <div class="row">
                <!--========================================== EVENT TILE ===============================================-->
                <div class="col-sm-6 col-md-4">
                    <div class="box"><img src="https://images.unsplash.com/photo-1551445523-324a0fdab051?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=332&q=80" />
                        <div class="box-content">
                            <h1 class="title" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                                LOREM IPSUM</h1>
                            <p class="description" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin laoreet, libero a venenatis dignissim, enim arcu elementum metus, eget luctus.</p><button class="read-more" data-toggle="modal" data-target="#exampleModal2">Read more</button>
                        </div>
                    </div>
                </div>
                <!--========================================== EVENT TILE END ===============================================-->
                <!--========================================== EVENT TILE ===============================================-->
                <div class="col-sm-6 col-md-4 event">
                    <div class="box"><img src="https://images.unsplash.com/photo-1556139902-7367723b7e9e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" />
                        <div class="box-content">
                            <h1 class="title" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                                LOREM IPSUM</h1>
                            <p class="description" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin laoreet, libero a venenatis dignissim, enim arcu elementum metus, eget luctus.</p><button class="read-more" data-toggle="modal" data-target="#exampleModal3">Read more</button>
                        </div>
                    </div>
                </div>
                <!--========================================== EVENT TILE END ===============================================-->
                <!--========================================== EVENT TILE ===============================================-->
                <div class="col-sm-6 col-md-4 event">
                    <div class="box"><img src="https://images.unsplash.com/photo-1556139902-7367723b7e9e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" />
                        <div class="box-content">
                            <h1 class="title" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                                LOREM IPSUM</h1>
                            <p class="description" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin laoreet, libero a venenatis dignissim, enim arcu elementum metus, eget luctus.</p><button class="read-more" data-toggle="modal" data-target="#exampleModal4">Read more</button>
                        </div>
                    </div>
                </div>
                <!--========================================== EVENT TILE END ===============================================-->
            </div>
            <!--============================================= ROW 1 END ==============================================-->
            <!--============================================= ROW 2 ==============================================-->
            <div class="row">
                <!--========================================== EVENT TILE ===============================================-->
                <div class="col-sm-6 col-md-4">
                    <div class="box"><img src="https://images.unsplash.com/photo-1556139902-7367723b7e9e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" />
                        <div class="box-content">
                            <h1 class="title" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                                LOREM IPSUM</h1>
                            <p class="description" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin laoreet, libero a venenatis dignissim, enim arcu elementum metus, eget luctus.</p><button class="read-more" data-toggle="modal" data-target="#exampleModal5">Read more</button>
                        </div>
                    </div>
                </div>
                <!--========================================== EVENT TILE END ===============================================-->
                <!--========================================== EVENT TILE ===============================================-->
                <div class="col-sm-6 col-md-4 event">
                    <div class="box"><img src="https://images.unsplash.com/photo-1556139902-7367723b7e9e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" />
                        <div class="box-content">
                            <h1 class="title" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                                LOREM IPSUM</h1>
                            <p class="description" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin laoreet, libero a venenatis dignissim, enim arcu elementum metus, eget luctus.</p><button class="read-more" data-toggle="modal" data-target="#exampleModal6">Read more</button>
                        </div>
                    </div>
                </div>
                <!--========================================== EVENT TILE END ===============================================-->
                <!--========================================== EVENT TILE ===============================================-->
                <div class="col-sm-6 col-md-4 event">
                    <div class="box"><img src="https://images.unsplash.com/photo-1556139902-7367723b7e9e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" />
                        <div class="box-content">
                            <h1 class="title" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                                LOREM IPSUM</h1>
                            <p class="description" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin laoreet, libero a venenatis dignissim, enim arcu elementum metus, eget luctus.</p><button class="read-more" data-toggle="modal" data-target="#exampleModal7">Read more</button>
                        </div>
                    </div>
                </div>
                <!--========================================== EVENT TILE END ===============================================-->
            </div>
            <!--============================================= ROW 2 END ==============================================-->
        </div>
    </section>
    <!--===================================== GALLERY END ===================================================-->
    <!--========================================= NAVIGATION BAR =============================================================-->
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top" id="mainNav">
        <div class="container-fluid">
            <a class="navbar-brand js-scroll-trigger" href="#">
                <!--INSERT LOGO HERE-->
                <img class="bg-white border rounded-0 border-dark shadow-lg logo" src="" />
            </a>
            <button data-toggle="collapse" data-target="#nav" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-align-justify"></i>
            </button>
            <div class="collapse navbar-collapse" id="nav">
                <ul class="nav navbar-nav ml-auto">
                    <li role="presentation" class="nav-item">
                        <a class="nav-link text-center active js-scroll-trigger entry">HOME</a>
                    </li>
                    <li role="presentation" class="nav-item">
                        <a class="nav-link text-center active js-scroll-trigger entry">RESOURCES</a>
                    </li>
                    <li role="presentation" class="nav-item">
                        <a class="nav-link text-center active js-scroll-trigger entry">GALLERY</a>
                    </li>
                    <li role="presentation" class="nav-item">
                        <a class="nav-link text-center active js-scroll-trigger entry">EVENTS</a>
                    </li>
                    <li role="presentation" class="nav-item">
                        <a href="hall_of_fame/hall_of_fame.html" class="nav-link text-center active js-scroll-trigger entry">HALL OF FAME</a>
                    </li>
                    <li role="presentation" class="nav-item">
                        <a class="nav-link active text-center js-scroll-trigger entry">PROJECTS</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--========================================= NAVIGATION BAR END =============================================================-->
    <!--====================================== IMAGE SLIDER JS ====================================-->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/esm/popper.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/react/16.2.0/umd/react.development.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.2.0/umd/react-dom.development.js'></script>
    <script src="./public/events/js/image-slider.js"></script>
    <!--====================================== IMAGE SLIDER JS END ====================================-->
    <!--==================================== BOOTSTRAP JS FILES ==============================================-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!--==================================== BOOTSTRAP BAR JS FILES END ==============================================-->
</body>

</html>