<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Projects</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="./public/projects/css/projects.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--===================================== NAVIGATION BAR CSS =============================================-->
    <link rel="stylesheet" type="text/css" href="./public/projects/css/nav.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <!--===================================== NAVIGATION BAR CSS END =============================================-->
</head>

<body>
    <!-- partial:index.partial.html -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>


    <header>
        <h1>PROJECTS<br> <span>Programming Club IIITG</span></h1>
    </header>

    <section class="projects">
        <div class="row">
            <ul>
                <a href="#" class="close"></a>
                <li>
                    <a href="#project01">
                        <div class="card" style="width: 18vw;">
                            <img src="https://images.unsplash.com/photo-1551445523-324a0fdab051?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=332&q=80" alt="" style="height: 24vw; width: 18vw;">
                            <h5 class="card-title" style="text-align: center">Project 01</h5>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#project02">
                        <div class="card" style="width: 18vw;">
                            <img src="https://images.unsplash.com/photo-1551445523-324a0fdab051?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=332&q=80" alt="" style="height: 24vw; width: 18vw;">
                            <h5 class="card-title" style="text-align: center">Project 02</h5>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#project03">
                        <div class="card" style="width: 18vw;">
                            <img src="https://images.unsplash.com/photo-1551445523-324a0fdab051?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=332&q=80" alt="" style="height: 24vw; width: 18vw;">
                            <h5 class="card-title" style="text-align: center">Project 03</h5>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="image" href="#project04">
                        <div class="card" style="width: 18vw;">
                            <img src="https://images.unsplash.com/photo-1551445523-324a0fdab051?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=332&q=80" alt="" style="height: 24vw; width: 18vw;">
                            <h5 class="card-title" style="text-align: center">Project 04</h5>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="image" href="#project05">
                        <div class="card" style="width: 18vw;">
                            <img src="https://images.unsplash.com/photo-1551445523-324a0fdab051?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=332&q=80" alt="" style="height: 24vw; width: 18vw;">
                            <h5 class="card-title" style="text-align: center">Project 05</h5>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="image" href="#project06">
                        <div class="card" style="width: 18vw;">
                            <img src="https://images.unsplash.com/photo-1551445523-324a0fdab051?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=332&q=80" alt="" style="height: 24vw; width: 18vw;">
                            <h5 class="card-title" style="text-align: center">Project 06</h5>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="image" href="#project07">
                        <div class="card" style="width: 18vw;">
                            <img src="https://images.unsplash.com/photo-1551445523-324a0fdab051?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=332&q=80" alt="" style="height: 24vw; width: 18vw;">
                            <h5 class="card-title" style="text-align: center">Project 07</h5>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="image" href="#project08">
                        <div class="card" style="width: 18vw;">
                            <img src="https://images.unsplash.com/photo-1551445523-324a0fdab051?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=332&q=80" alt="" style="height: 24vw; width: 18vw;">
                            <h5 class="card-title" style="text-align: center">Project 08</h5>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <!-- / row -->

        <!-- project 01 -->
        <div id="project01" class="port">

            <div class="row">
                <div class="description">
                    <h1>project 01</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis libero erat. Integer ac purus est. Proin erat mi, pulvinar ut magna eget, consectetur auctor turpis.</p>
                    <br>
                    <br>
                    <button type="button" class="btn btn-dark">Check out the project</button>
                </div>

                <img src="https://images.unsplash.com/photo-1551445523-324a0fdab051?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=332&q=80" alt="">

            </div>
        </div>
        <!-- / row -->

        </div>
        <!-- / project 02 -->

        <!-- project 02 -->
        <div id="project02" class="port">

            <div class="row">
                <div class="description">
                    <h1>project 02</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis libero erat. Integer ac purus est. Proin erat mi, pulvinar ut magna eget, consectetur auctor turpis.</p>
                    <br>
                    <br>
                    <button type="button" class="btn btn-dark">Check out the project</button>
                </div>
                <img src="https://images.unsplash.com/photo-1551445523-324a0fdab051?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=332&q=80" alt="">

            </div>
            <!-- / row -->

        </div>
        <!-- / project 02 -->

        <!-- project 03 -->
        <div id="project03" class="port">

            <div class="row">
                <div class="description">
                    <h1>project 03</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis libero erat. Integer ac purus est. Proin erat mi, pulvinar ut magna eget, consectetur auctor turpis.</p>
                    <br>
                    <br>
                    <button type="button" class="btn btn-dark">Check out the project</button>
                </div>
                <img src="https://images.unsplash.com/photo-1551445523-324a0fdab051?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=332&q=80" alt="">

            </div>
            <!-- / row -->

        </div>
        <!-- / project 03 -->

        <!-- project 04 -->
        <div id="project04" class="port">

            <div class="row">
                <div class="description">
                    <h1>project 04</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis libero erat. Integer ac purus est. Proin erat mi, pulvinar ut magna eget, consectetur auctor turpis.</p>
                    <br>
                    <br>
                    <button type="button" class="btn btn-dark">Check out the project</button>
                </div>
                <img src="https://images.unsplash.com/photo-1551445523-324a0fdab051?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=332&q=80" alt="">

            </div>
            <!-- / row -->

        </div>
        <!-- / project 04 -->

        <!-- project 05 -->
        <div id="project05" class="port">

            <div class="row">
                <div class="description">
                    <h1>project 05</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis libero erat. Integer ac purus est. Proin erat mi, pulvinar ut magna eget, consectetur auctor turpis.</p>
                    <br>
                    <br>
                    <button type="button" class="btn btn-dark">Check out the project</button>
                </div>
                <img src="https://images.unsplash.com/photo-1551445523-324a0fdab051?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=332&q=80" alt="">
            </div>
            <!-- / row -->

        </div>
        <!-- / project 05 -->

        <!-- project 06 -->
        <div id="project06" class="port">

            <div class="row">
                <div class="description">
                    <h1>project 06</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis libero erat. Integer ac purus est. Proin erat mi, pulvinar ut magna eget, consectetur auctor turpis.</p>
                    <br>
                    <br>
                    <button type="button" class="btn btn-dark">Check out the project</button>
                </div>
                <img src="https://images.unsplash.com/photo-1551445523-324a0fdab051?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=332&q=80" alt="">
            </div>
            <!-- / row -->

        </div>
        <!-- / project 06 -->

        <!-- project 07 -->
        <div id="project07" class="port">

            <div class="row">
                <div class="description">
                    <h1>project 07</h1>
                    <p>lhofhoeifnosgmpojgp soifjosihfn s0f odignp sd0oifnapojf -jfoal f if jdsijfafnaff i afj fjmfonmf asf nf nafij e Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis libero erat. Integer ac purus est. Proin erat mi,
                        pulvinar ut magna eget, consectetur auctor turpis.</p>
                    <br>
                    <br>
                    <button type="button" class="btn btn-dark">Check out the project</button>
                </div>
                <img src="https://images.unsplash.com/photo-1551445523-324a0fdab051?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=332&q=80" alt="">
            </div>
            <!-- / row -->

        </div>
        <!-- / project 07 -->

        <!-- project 08 -->
        <div id="project08" class="port">

            <div class="row">
                <div class="description">
                    <h1>project 08</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis libero erat. Integer ac purus est. Proin erat mi, pulvinar ut magna eget, consectetur auctor turpis.</p>
                    <br>
                    <br>
                    <button type="button" class="btn btn-dark">Check out the project</button>
                </div>
                <img src="https://images.unsplash.com/photo-1551445523-324a0fdab051?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=332&q=80" alt="">
            </div>
            <!-- / row -->

        </div>
        <!-- / project 08 -->

    </section>
    <!-- / projects -->

    <!--========================================= NAVIGATION BAR =============================================================-->
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top" id="mainNav">
        <div class="container-fluid">
            <a class="navbar-brand js-scroll-trigger" href="#">
                <!--INSERT LOGO HERE-->
                <img class="bg-white border rounded-0 border-dark shadow-lg logo" src="" />
            </a>
            <button data-toggle="collapse" data-target="#nav" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-align-justify"></i>
        </button>
            <div class="collapse navbar-collapse" id="nav">
                <ul class="nav navbar-nav ml-auto">
                    <li role="presentation" class="nav-item">
                        <a class="nav-link text-center active js-scroll-trigger entry">HOME</a>
                    </li>
                    <li role="presentation" class="nav-item">
                        <a class="nav-link text-center active js-scroll-trigger entry">RESOURCES</a>
                    </li>
                    <li role="presentation" class="nav-item">
                        <a class="nav-link text-center active js-scroll-trigger entry">GALLERY</a>
                    </li>
                    <li role="presentation" class="nav-item">
                        <a class="nav-link text-center active js-scroll-trigger entry">EVENTS</a>
                    </li>
                    <li role="presentation" class="nav-item">
                        <a href="hall_of_fame/hall_of_fame.html" class="nav-link text-center active js-scroll-trigger entry">HALL OF FAME</a>
                    </li>
                    <li role="presentation" class="nav-item">
                        <a class="nav-link active text-center js-scroll-trigger entry">PROJECTS</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--========================================= NAVIGATION BAR END =============================================================-->


    <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="./public/projects/js/script.js"></script>

</body>

</html>