/* to change the look of image slider  */

.slider {
    position: relative;
    width: 800px;
    margin: 0 auto;
    height: 500px;
    overflow: hidden;
    white-space: nowrap;
    border-style: solid;
    border-width: 4px;
    border-radius: 8px;
    border-top-color: rgba(0, 100, 100, 0.7);
    border-right-color: rgba(0, 100, 100, 1);
    border-bottom-color: rgba(0, 100, 100, 0.6);
    border-left-color: rgba(0, 100, 100, 1);
    box-shadow: 1px 1px 8px rgba(0, 29, 27, 0.747);
}

.slider-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

.slide {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.arrow {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    transition: transform ease-in .1s;
}

.nextArrow {
    position: absolute;
    top: 50%;
    right: 25px;
    z-index: 999;
    color: #fff;
}

.backArrow {
    position: absolute;
    top: 50%;
    left: 25px;
    z-index: 999;
    color: #fff;
}

.fa-arrow-right:before,
.fa-arrow-left:before {
    color: rgb(2, 66, 63)
}

@media only screen and (max-width:990px) {
    .slider {
        width: 90%;
    }
}