html{
	scroll-behavior: smooth;
}

body{
	color: rgb(69, 0, 0);
}

.navbar{
	background-color: rgba(255, 255, 255, 0.9);
}

#header{
    background-image: url(InitiativeBack.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
}

.header-text{
	flex-direction: column;
	height: 100%;
	width: 100%;
	justify-content: flex-end;
	align-content: flex-end;
	padding-bottom: 10%;
	color: blanchedalmond;
	font-weight: 100;
	text-align: center;
	font-size: 3rem;
}

#AboutPage{
	background-image: linear-gradient(to top left, rgb(230, 255, 230), white);
	height: 100vh;
}

#ABOUT{
	padding-bottom: 10%;
}

#AboutQuote{
	width: 80%;
	margin: auto;
}

#AboutQuoter{
	color: coral;
	width: 80%;
	margin: auto;
}

#AboutInfo{
	text-align: center;
	padding-top: 10%;
	font-weight: 400;
	margin: auto;
	width: 80%;
}

#InitiativesPage{
	height: 100vh;
	background-image: linear-gradient(to top left, rgb(230, 255, 230), white);
}

#INITIATIVES{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-bottom: 5%;
}

#InitiativesCarousel{
	margin: auto;
	padding-top: 5%;
	width: 80%;
}

.carousel-indicators{
	background-color: rgba(0, 0, 0, 0.3);
}

.carousel-control-prev .fa-angle-left, .carousel-control-next .fa-angle-right{
	font-size: 2rem;
	color: white;
	background-color: rgba(0, 0, 0, 0.3);
}

.carousel img{
    width: 100%;
}

.modal-title{
	margin: auto;
}

@media only screen and (max-width: 1080px){
	.header-text{
		padding-bottom: 30%;
	}
}