/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .about {
        text-align: center;
        position: relative;
        z-index: 0;
        display: block !important;
        margin-bottom: 5%;
        margin-top: -40%;
    }

    .head {
        text-align: center;
    }

    .head .hl {
        width: 200px;
        height: 1px;
        border-top: 2px solid black;
        display: inline-block;
        position: relative;
        bottom: 3px;
    }

    .head .circle-left {
        height: 7px;
        width: 7px;
        border: 2px solid black;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        left: 5px;
        animation-name: bounce-left;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    .circle-top {
        height: 10px;
        width: 10px;
        border: 2px solid black;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        left: 2px;
        animation-name: bounce-up;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    .circle-bottom {
        height: 10px;
        width: 10px;
        border: 2px solid black;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        bottom: 13px;
        left: 1px;
        animation-name: bounce-down;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    .head .circle-right {
        height: 7px;
        width: 7px;
        border: 2px solid black;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        right: 5px;
        animation-name: bounce-right;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    .head h1 {
        font-size: 18px;
    }

    .hl {
        padding: 0px;
    }

    .vl {
        height: 60px;
        width: 1px;
        border-left: 2px solid black;
        left: 50%;
        position: relative;
        bottom: 20px;
    }

    .vl-start {
        height: 60px;
        width: 1px;
        border-left: 2px solid black;
        left: 50%;
        position: relative;
        top: 13px;
    }

    .vl-end {
        height: 60px;
        width: 1px;
        border-left: 2px solid black;
        left: 50%;
        position: relative;
        bottom: 13px;
    }

    .content .circle-left {
        height: 15px;
        width: 15px;
        border: 2px solid black;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        left: 5px;
        animation-name: bounce-left;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    .content .circle-right {
        height: 15px;
        width: 15px;
        border: 2px solid black;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        right: 4px;
        animation-name: bounce-right;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    .upper-content-hl {
        margin-top: -30px;
    }

    .content .hl {
        width: 250px;
        height: 1px;
        border-top: 2px solid black;
        display: inline-block;
        position: relative;
        bottom: 6px;
    }

    .content img {
        width: 250px;
        height: 250px;
    }

    .content h1 {
        font-size: 14px;
    }

    .content p {
        font-size: 10px;
    }

    @keyframes bounce-up {
        from {
            top: -13px;
        }

        to {
            top: 13px;
        }
    }

    @keyframes bounce-down {
        from {
            top: -20px;
        }

        to {
            top: 13px;
        }
    }

    @keyframes bounce-left {
        from {
            left: -10px;
        }

        to {
            left: 5px;
        }
    }

    @keyframes bounce-right {
        from {
            right: -8px;
        }

        to {
            right: 4px;
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .about {
        text-align: center;
        position: relative;
        margin-top: -5%;
        z-index: 0;
        display: block !important;
        margin-bottom: 5%;
    }

    .head {
        text-align: center;
    }

    .head .hl {
        width: 200px;
        height: 1px;
        border-top: 2px solid black;
        display: inline-block;
        position: relative;
        bottom: 4px;
    }

    .head .circle-left {
        height: 10px;
        width: 10px;
        border: 2px solid black;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        left: 5px;
        animation-name: bounce-left;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    .circle-top {
        height: 30px;
        width: 30px;
        border: 2px solid black;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        left: 2px;
        animation-name: bounce-up;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    .circle-bottom {
        height: 30px;
        width: 30px;
        border: 2px solid black;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        bottom: 13px;
        left: 2px;
        animation-name: bounce-down;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    .head .circle-right {
        height: 10px;
        width: 10px;
        border: 2px solid black;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        right: 5px;
        animation-name: bounce-right;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    .head h1 {
        font-size: 18px;
    }

    .hl {
        padding: 0px;
    }

    .vl {
        height: 60px;
        width: 1px;
        border-left: 2px solid black;
        left: 50%;
        position: relative;
        bottom: 10px;
    }

    .vl-start {
        height: 60px;
        width: 1px;
        border-left: 2px solid black;
        left: 50%;
        position: relative;
        top: 13px;
    }

    .vl-end {
        height: 60px;
        width: 1px;
        border-left: 2px solid black;
        left: 50%;
        position: relative;
        bottom: 13px;
    }

    .content .circle-left {
        height: 15px;
        width: 15px;
        border: 2px solid black;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        left: 5px;
        animation-name: bounce-left;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    .content .circle-right {
        height: 15px;
        width: 15px;
        border: 2px solid black;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        right: 4px;
        animation-name: bounce-right;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    .upper-content-hl {
        margin-top: -21px;
    }

    .content .hl {
        width: 600px;
        height: 1px;
        border-top: 2px solid black;
        display: inline-block;
        position: relative;
        bottom: 6px;
    }

    .content img {
        width: 300px;
        height: 300px;
    }

    .content h1 {
        font-size: 18px;
    }

    .content p {
        font-size: 12px;
    }

    @keyframes bounce-up {
        from {
            top: -13px;
        }

        to {
            top: 13px;
        }
    }

    @keyframes bounce-down {
        from {
            top: -13px;
        }

        to {
            top: 13px;
        }
    }

    @keyframes bounce-left {
        from {
            left: -10px;
        }

        to {
            left: 5px;
        }
    }

    @keyframes bounce-right {
        from {
            right: -8px;
        }

        to {
            right: 4px;
        }
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .about {
        text-align: center;
        position: relative;
        margin-top: -5%;
        z-index: 0;
        display: block !important;
        margin-bottom: 5%;
    }

    .head {
        text-align: center;
    }

    .head .hl {
        width: 200px;
        height: 1px;
        border-top: 2px solid black;
        display: inline-block;
        position: relative;
        bottom: 4px;
    }

    .head .circle-left {
        height: 10px;
        width: 10px;
        border: 2px solid black;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        left: 5px;
        animation-name: bounce-left;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    .circle-top {
        height: 30px;
        width: 30px;
        border: 2px solid black;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        left: 2px;
        animation-name: bounce-up;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    .circle-bottom {
        height: 30px;
        width: 30px;
        border: 2px solid black;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        bottom: 13px;
        left: 2px;
        animation-name: bounce-down;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    .head .circle-right {
        height: 10px;
        width: 10px;
        border: 2px solid black;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        right: 5px;
        animation-name: bounce-right;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    .head h1 {
        font-size: 18px;
    }

    .hl {
        padding: 0px;
    }

    .vl {
        height: 60px;
        width: 1px;
        border-left: 2px solid black;
        left: 50%;
        position: relative;
        bottom: 10px;
    }

    .vl-start {
        height: 60px;
        width: 1px;
        border-left: 2px solid black;
        left: 50%;
        position: relative;
        top: 13px;
    }

    .vl-end {
        height: 60px;
        width: 1px;
        border-left: 2px solid black;
        left: 50%;
        position: relative;
        bottom: 13px;
    }

    .content .circle-left {
        height: 15px;
        width: 15px;
        border: 2px solid black;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        left: 5px;
        animation-name: bounce-left;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    .content .circle-right {
        height: 15px;
        width: 15px;
        border: 2px solid black;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        right: 4px;
        animation-name: bounce-right;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    .upper-content-hl {
        margin-top: -21px;
    }

    .content .hl {
        width: 600px;
        height: 1px;
        border-top: 2px solid black;
        display: inline-block;
        position: relative;
        bottom: 6px;
    }

    .content img {
        width: 300px;
        height: 300px;
    }

    .content h1 {
        font-size: 18px;
    }

    .content p {
        font-size: 12px;
    }

    @keyframes bounce-up {
        from {
            top: -13px;
        }

        to {
            top: 13px;
        }
    }

    @keyframes bounce-down {
        from {
            top: -13px;
        }

        to {
            top: 13px;
        }
    }

    @keyframes bounce-left {
        from {
            left: -10px;
        }

        to {
            left: 5px;
        }
    }

    @keyframes bounce-right {
        from {
            right: -8px;
        }

        to {
            right: 4px;
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .about {
        text-align: center;
        position: relative;
        margin-top: -5%;
        z-index: 0;
        display: block !important;
        margin-bottom: 5%;
    }

    .head {
        text-align: center;
    }

    .head .hl {
        width: 200px;
        height: 1px;
        border-top: 2px solid black;
        display: inline-block;
        position: relative;
        bottom: 4px;
    }

    .head .circle-left {
        height: 10px;
        width: 10px;
        border: 2px solid black;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        left: 5px;
        animation-name: bounce-left;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    .circle-top {
        height: 30px;
        width: 30px;
        border: 2px solid black;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        left: 2px;
        animation-name: bounce-up;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    .circle-bottom {
        height: 30px;
        width: 30px;
        border: 2px solid black;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        bottom: 13px;
        left: 2px;
        animation-name: bounce-down;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    .head .circle-right {
        height: 10px;
        width: 10px;
        border: 2px solid black;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        right: 5px;
        animation-name: bounce-right;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    .hl {
        padding: 0px;
    }

    .vl {
        height: 60px;
        width: 1px;
        border-left: 2px solid black;
        left: 50%;
        position: relative;
        bottom: 10px;
    }

    .vl-start {
        height: 60px;
        width: 1px;
        border-left: 2px solid black;
        left: 50%;
        position: relative;
        top: 13px;
    }

    .vl-end {
        height: 60px;
        width: 1px;
        border-left: 2px solid black;
        left: 50%;
        position: relative;
        bottom: 13px;
    }

    .content .circle-left {
        height: 15px;
        width: 15px;
        border: 2px solid black;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        left: 5px;
        animation-name: bounce-left;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    .content .circle-right {
        height: 15px;
        width: 15px;
        border: 2px solid black;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        right: 4px;
        animation-name: bounce-right;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    .upper-content-hl {
        margin-top: -21px;
    }

    .content .hl {
        width: 900px;
        height: 1px;
        border-top: 2px solid black;
        display: inline-block;
        position: relative;
        bottom: 6px;
    }

    .content img {
        width: 300px;
        height: 300px;
    }

    @keyframes bounce-up {
        from {
            top: -13px;
        }

        to {
            top: 13px;
        }
    }

    @keyframes bounce-down {
        from {
            top: -13px;
        }

        to {
            top: 13px;
        }
    }

    @keyframes bounce-left {
        from {
            left: -10px;
        }

        to {
            left: 5px;
        }
    }

    @keyframes bounce-right {
        from {
            right: -8px;
        }

        to {
            right: 4px;
        }
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .about {
        text-align: center;
        position: relative;
        z-index: 0;
        display: block !important;
        margin-bottom: 5%;
        margin-top: -5%;
    }

    .head {
        text-align: center;
    }

    .head .hl {
        width: 300px;
        height: 1px;
        border-top: 2px solid black;
        display: inline-block;
        position: relative;
        bottom: 4px;
    }

    .head .circle-left {
        height: 10px;
        width: 10px;
        border: 2px solid black;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        left: 5px;
        animation-name: bounce-left;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    .circle-top {
        height: 30px;
        width: 30px;
        border: 2px solid black;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        left: 2px;
        animation-name: bounce-up;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    .circle-bottom {
        height: 30px;
        width: 30px;
        border: 2px solid black;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        bottom: 13px;
        left: 2px;
        animation-name: bounce-down;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    .head .circle-right {
        height: 10px;
        width: 10px;
        border: 2px solid black;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        right: 5px;
        animation-name: bounce-right;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    
    .head h1 {
        font-size: 40px;
        font-weight: 900;
        letter-spacing: 2px;
    }

    .hl {
        padding: 0px;
    }

    .vl {
        height: 100px;
        width: 1px;
        border-left: 2px solid black;
        left: 50%;
        position: relative;
        bottom: 41px;
    }

    .vl-start {
        height: 60px;
        width: 1px;
        border-left: 2px solid black;
        left: 50%;
        position: relative;
        top: 13px;
    }

    .vl-end {
        height: 60px;
        width: 1px;
        border-left: 2px solid black;
        left: 50%;
        position: relative;
        bottom: 13px;
    }

    .content .circle-left {
        height: 15px;
        width: 15px;
        border: 2px solid black;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        left: 5px;
        animation-name: bounce-left;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    .content .circle-right {
        height: 15px;
        width: 15px;
        border: 2px solid black;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        right: 4px;
        animation-name: bounce-right;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    .upper-content-hl {
        margin-top: -51px;
    }

    .content .hl {
        width: 1150px;
        height: 1px;
        border-top: 2px solid black;
        display: inline-block;
        position: relative;
        bottom: 6px;
    }
    
    .content p{
        font-weight: 500;
        font-size: 18px;
    }

    .content img {
        width: 350px;
        height: 350px;
    }

    @keyframes bounce-up {
        from {
            top: -13px;
        }

        to {
            top: 13px;
        }
    }

    @keyframes bounce-down {
        from {
            top: -13px;
        }

        to {
            top: 13px;
        }
    }

    @keyframes bounce-left {
        from {
            left: -10px;
        }

        to {
            left: 5px;
        }
    }

    @keyframes bounce-right {
        from {
            right: -8px;
        }

        to {
            right: 4px;
        }
    }
}
