.triangle-bottom-left {
    width: 0;
    height: 0;
    border-bottom: 100px solid #13171d;
    border-right: 3000px solid transparent;
    margin-bottom: -40px;
}

.triangle-top-left {
    width: 0;
    height: 0;
    border-top: 100px solid #13171d;
    border-right: 3000px solid transparent;
}

.triangle-bottom-right {
    width: 0;
    height: 0;
    border-bottom: 100px solid rgb(15, 6, 49);
    border-left: 3000px solid transparent;
    margin-top: -110px;
}

.triangle-top-right {
    width: 0;
    height: 0;
    border-top: 200px solid #484c4f;
    border-left: 3000px solid transparent;
}
