/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .writing-effect {
        z-index: 5;
        text-align: center;
        position: relative;
        top: 70vh;
    }

    .writing-effect h1 {
        font-size: 18px;
        color: antiquewhite;
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
    }

    .writing-effect h1 span.text {
        padding: 0;
        padding-right: 4px;
        border-right: 2px solid #747474;
        animation: blink 0.75s infinite;
    }

    .writing-effect h1 .yellow {
        color: #FCE847;
    }

    .writing-effect h1 .red {
        color: #F5320C;
    }

    .writing-effect h1 .blue {
        color: #205462;
    }

    @keyframes blink {
        from {
            border: none;
        }

        to {
            border-color: 2px solid #747474;
        }
    }

    @media screen and (max-width: 670px) {
        .writing-effect h1 {
            font-size: 40px;
        }
    }

    @media screen and (max-width: 400px) {
        .writing-effect h1 {
            font-size: 32px;
        }
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .writing-effect {
        z-index: 5;
        text-align: center;
        position: relative;
        top: 55vh;
    }

    .writing-effect h1 {
        font-size: 50px;
        color: antiquewhite;
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
    }

    .writing-effect h1 span.text {
        padding: 0;
        padding-right: 4px;
        border-right: 2px solid #747474;
        animation: blink 0.75s infinite;
    }

    .writing-effect h1 .yellow {
        color: #FCE847;
    }

    .writing-effect h1 .red {
        color: #F5320C;
    }

    .writing-effect h1 .blue {
        color: #205462;
    }

    @keyframes blink {
        from {
            border: none;
        }

        to {
            border-color: 2px solid #747474;
        }
    }

    @media screen and (max-width: 670px) {
        .writing-effect h1 {
            font-size: 40px;
        }
    }

    @media screen and (max-width: 400px) {
        .writing-effect h1 {
            font-size: 32px;
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .writing-effect {
        z-index: 5;
        text-align: center;
        position: relative;
        top: 50vh;
    }

    .writing-effect h1 {
        font-size: 50px;
        color: antiquewhite;
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
    }

    .writing-effect h1 span.text {
        padding: 0;
        padding-right: 4px;
        border-right: 2px solid #747474;
        animation: blink 0.75s infinite;
    }

    .writing-effect h1 .yellow {
        color: #FCE847;
    }

    .writing-effect h1 .red {
        color: #F5320C;
    }

    .writing-effect h1 .blue {
        color: #205462;
    }

    @keyframes blink {
        from {
            border: none;
        }

        to {
            border-color: 2px solid #747474;
        }
    }

    @media screen and (max-width: 670px) {
        .writing-effect h1 {
            font-size: 40px;
        }
    }

    @media screen and (max-width: 400px) {
        .writing-effect h1 {
            font-size: 32px;
        }
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .writing-effect {
        z-index: 5;
        text-align: center;
        position: relative;
        top: 80vh;
    }

    .writing-effect h1 {
        font-size: 50px;
        color: antiquewhite;
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
    }

    .writing-effect h1 span.text {
        padding: 0;
        padding-right: 4px;
        border-right: 2px solid #747474;
        animation: blink 0.75s infinite;
    }

    .writing-effect h1 .yellow {
        color: #FCE847;
    }

    .writing-effect h1 .red {
        color: #F5320C;
    }

    .writing-effect h1 .blue {
        color: #205462;
    }

    @keyframes blink {
        from {
            border: none;
        }

        to {
            border-color: 2px solid #747474;
        }
    }

    @media screen and (max-width: 670px) {
        .writing-effect h1 {
            font-size: 40px;
        }
    }

    @media screen and (max-width: 400px) {
        .writing-effect h1 {
            font-size: 32px;
        }
    }
}
