<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Technical Board</title>
    <!--================================================ META TAGS =========================================-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <!--================================================ META TAGS END =========================================-->
    <!--============================================ BOOTSTRAP CDN ==============================================-->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!--============================================ BOOTSTRAP CDN END ==============================================-->
    <!--========================================= HEADER CSS =================================================-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="/Design_X_Club/css/header.css">
    <!--========================================= HEADER CSS END =================================================-->
    <!--========================================= FLOATING LOGO CSS =============================================-->
    <link rel="stylesheet" type="text/css" href="/Design_X_Club/css/logo.css">
    <!--========================================= FLOATING LOGO CSS END =============================================-->
    <!--========================================= ABOUT US CSS =========================================================-->
    <link rel="stylesheet" type="text/css" href="/Design_X_Club/css/about.css">
    <!--========================================= ABOUT US CSS END =========================================================-->
    <!--============================================== COORDINATORS SECTION ============================================================-->
    <link rel="stylesheet" type="text/css" href="/Design_X_Club/css/cards.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--============================================== COORDINATORS SECTION END ============================================================-->
    <!--========================================= NAVIGATION BAR CSS =============================================================-->
    <link rel="stylesheet" type="text/css" href="/Design_X_Club/css/nav.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <!--========================================= NAVIGATION BAR CSS END =============================================================-->
    <!--==================================== FOOTER ===============================================================-->
    <link rel="stylesheet" type="text/css" href="/Design_X_Club/css/footer.css">
    <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!--==================================== FOOTER END ===============================================================-->
    <!--========================================= ANIMATE ON SCROLL JS ======================================-->
    <!--<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">-->
    <!--========================================= ANIMATE ON SCROLL JS END ======================================-->
    <!--================================ WRITING EFFECT ===========================================-->
    <link rel="stylesheet" type="text/css" href="/Design_X_Club/css/writing-effect.css">
    <!--================================ WRITING EFFECT END ===========================================-->
    <link rel="stylesheet" type="text/css" href="/Design_X_Club/css/transition.css">

</head>

<body>

    <!--==================================== HEADER ==============================================================-->
    <section class="header">
        <div class="confetti">
            <div class="banner-content">
                <div class="logo">
                    <img src="https://images.unsplash.com/photo-1516876437184-593fda40c7ce?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80">
                    <h1>Programming Club</h1>
                </div>
            </div>
            <!--================================ WRITING EFFECT ===========================================-->
            <div class="writing-effect">
                <h1><span class="text">Build</span> for everyone</h1>
            </div>
            <!--================================ WRITING EFFECT END ===========================================-->
            <div class="confetti-layer front" data-stellar-ratio="1.25">
                <div class="inner"></div>
            </div>
            <div class="confetti-layer mid">
                <div class="inner"></div>
            </div>
            <div class="confetti-layer back" data-stellar-ratio="0.75">
                <div class="inner"></div>
            </div>
        </div>
    </section>
    <!--==================================== HEADER END ==============================================================-->
    <div class="triangle-top-right"></div>
    <!--================================================== ABOUT US ===============================================================-->
    <section class="about">
        <div class="circle-top"></div>
        <div class="vl-start"></div>
        <div class="head">
            <div class="hl-block">
                <span class="circle circle-left"></span>
                <span class="hl"></span>
                <span class="circle circle-right"></span>
            </div>
            <h1 class="text-center">About Us</s1>
            <div class="hl-block">
                <span class="circle circle-left"></span>
                <span class="hl"></span>
                <span class="circle circle-right"></span>
            </div>
        </div>
        <div class="vl"></div>
        <div class="content">
            <div class="hl-block upper-content-hl">
                <span class="circle circle-left"></span>
                <span class="hl"></span>
                <span class="circle circle-right"></span>
            </div>
            <div class="container">
                <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
                    <div class="col">
                        <img class="img" src="https://images.unsplash.com/photo-1551445523-324a0fdab051?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=332&q=80">
                    </div>
                    <div class="col">
                        <p class="text-center">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
                    </div>
                </div>
            </div>
            <div class="hl-block">
                <span class="circle circle-left"></span>
                <span class="hl"></span>
                <span class="circle circle-right"></span>
            </div>
        </div>
        <div class="vl-end"></div>
        <div class="circle-bottom"></div>
    </section>
    <!--=============================================== ABOUT US END ===============================================================-->
    <div class="triangle-bottom-left"></div>
    <!--============================================== COORDINATORS SECTION ============================================================-->
    <section class="team">
        <div class="team-header">
            <h1>COORDINATORS</h1>
        </div>
        <div class="container cards">
            <div class="row justify-content-center">
                <!--========================== TEAM MEMBER ===========================================-->
                <div class="col-sm-6 col-md-4 column">
                    <div class="box">
                        <div class="box-inner">
                            <div class="box-img"><img src="https://images.unsplash.com/photo-1541873676-a18131494184?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=661&amp;q=80" alt="Williamson"></div>
                            <div class="box-content">
                                <h4 class="title">Astronaut</h4>
                                <p class="description">I want to go to Moon</p>
                                <ul class="social-links">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-envelope-o"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--========================== TEAM MEMBER END ===========================================-->
                <!--========================== TEAM MEMBER ===========================================-->
                <div class="col-sm-6 col-md-4 column">
                    <div class="box">
                        <div class="box-inner">
                            <div class="box-img"><img src="https://images.unsplash.com/photo-1541873676-a18131494184?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=661&amp;q=80" alt="Williamson"></div>
                            <div class="box-content">
                                <h4 class="title">Astronaut</h4>
                                <p class="description">I want to go to Moon</p>
                                <ul class="social-links">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-envelope-o"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--========================== TEAM MEMBER END ===========================================-->
            </div>
        </div>
    </section>
    <!--============================================== COORDINATORS SECTION END ============================================================-->
    <div class="triangle-top-left"></div>
    <div class="triangle-bottom-right"></div>
    <!--==================================== FOOTER ===============================================================-->
    <div class="footer">
        <footer>
            <div class="text-light social">
                <a href="#" target="_blank"><i class="icon ion-social-instagram"></i></a>
                <a href="#" target="_blank"><i class="icon ion-social-linkedin"></i></a>
                <a href="#" target="_blank"><i class="icon ion-social-facebook"></i></a>
                <a href="#" target="_blank"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
            </div>
            <ul class="list-inline text-light">
                <li class="list-inline-item entry"><a href="#">RESOURCES</a></li>
                <li class="list-inline-item entry"><a href="#">GALLERY</a></li>
                <li class="list-inline-item entry"><a href="#">EVENTS</a></li>
                <li class="list-inline-item entry"><a href="#">PROJECTS</a></li>
            </ul>
            <p class="copyright"><a href="http://www.iiitg.ac.in/" target="_blank">Indian Institute of Information Technology Guwahati &copy; 2020</a></p>
        </footer>
    </div>
    <!--==================================== FOOTER END ===============================================================-->
    <!--========================================= NAVIGATION BAR =============================================================-->
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top" id="mainNav">
        <div class="container-fluid">
            <a class="navbar-brand js-scroll-trigger" href="#">
                <!--INSERT LOGO HERE-->
                <img class="bg-white border rounded-0 border-dark shadow-lg logo" src="" />
            </a>
            <button data-toggle="collapse" data-target="#nav" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-align-justify"></i>
            </button>
            <div class="collapse navbar-collapse" id="nav">
                <ul class="nav navbar-nav ml-auto">
                    <li role="presentation" class="nav-item">
                        <a class="nav-link text-center active js-scroll-trigger entry">HOME</a>
                    </li>
                    <li role="presentation" class="nav-item">
                        <a class="nav-link text-center active js-scroll-trigger entry">RESOURCES</a>
                    </li>
                    <li role="presentation" class="nav-item">
                        <a class="nav-link text-center active js-scroll-trigger entry">GALLERY</a>
                    </li>
                    <li role="presentation" class="nav-item">
                        <a class="nav-link text-center active js-scroll-trigger entry">EVENTS</a>
                    </li>
                    <li role="presentation" class="nav-item">
                        <a href="/xclub/hof" class="nav-link text-center active js-scroll-trigger entry">HALL OF FAME</a>
                    </li>
                    <li role="presentation" class="nav-item">
                        <a class="nav-link active text-center js-scroll-trigger entry">PROJECTS</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--========================================= NAVIGATION BAR END =============================================================-->
    <!--==================================== HEADER JS FILES ================================================================-->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='https://markdalgleish.com/projects/stellar.js/js/stellar.js'></script>
    <script src="/Design_X_Club/js/header.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <!--==================================== HEADER JS FILES END ================================================================-->
    <!--==================================== NAVIGATION BAR JS FILES ==============================================-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!--==================================== NAVIGATION BAR JS FILES END ==============================================-->
    <!--========================================= ANIMATE ON SCROLL JS ======================================-->
    <!--    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>-->
    <!--========================================= ANIMATE ON SCROLL JS END ========================================-->
    <!--================================ WRITING EFFECT ===========================================-->
    <script src="/Design_X_Club/js/writing-effect.js"></script>
    <!--================================ WRITING EFFECT END ===========================================-->
</body>

</html>
