<html>

<head>
    <meta charset="UTF-8">
    <title>Technical Board - Hall Of Fame</title>
    <!--================================================ META TAGS =========================================-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <!--================================================ META TAGS END =========================================-->
    <!--============================================ BOOTSTRAP CDN ==============================================-->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!--============================================ BOOTSTRAP CDN END ==============================================-->
    <!--================================== HALL OF FAME CSS FILES =================================================-->
    <link rel="stylesheet" type="text/css" href="./css/hall_of_fame.css">
    <!--================================== HALL OF FAME CSS FILES =================================================-->
    <!--========================================= NAVIGATION BAR CSS =============================================================-->
    <link rel="stylesheet" type="text/css" href="../css/nav.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <!--========================================= NAVIGATION BAR CSS END =============================================================-->
    <!--=============================================== BANNER CSS =======================================-->
    <link rel="stylesheet" type="text/css" href="./css/banner.css">
    <!--=============================================== BANNER CSS END =======================================-->
</head>

<body>
    <!--=============================================== BANNER =======================================-->
    <div class="banner">
        <div class="line">
            <span>HALL</span>
        </div>
        <div class="line">
            <span>OF</span>
        </div>
        <div class="line">
            <span>FAME</span>
        </div>
    </div>
    <!--=============================================== BANNER END =======================================-->
    <!--================================== HALL OF FAME =================================================-->
    <!--======================================= 2019 ================================================================-->
    <section class="text-center">
        <div class="intermediate">
            <span class="big-circle circle-left set1"></span>
            <span class="hl"></span>
            <span class="big-circle circle-right set2"></span>
        </div>
        <div class="header">
            <span class="big-circle circle-left set1"></span>
            <span class="hl"></span>
            <span class="small-circle circle-right"></span>
            <span>
                <h1>2019</h1>
            </span>
            <span class="small-circle circle-left"></span>
            <span class="hl"></span>
            <span class="big-circle circle-right set2"></span>
        </div>
        <div class="intermediate">
            <span class="big-circle circle-left set1"></span>
            <span class="hl"></span>
            <span class="big-circle circle-right set2"></span>
        </div>
        <div class="row">
            <div class="col text-center">
                <div class="item">
                    <h1>Heading</h1>
                    <img src="https://images.unsplash.com/photo-1585142741576-93ee8aaa8636?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" />
                </div>
            </div>
            <div class="col text-center">
                <div class="item">
                    <h1>Heading</h1>
                    <img src="https://images.unsplash.com/photo-1585142741576-93ee8aaa8636?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" />
                </div>
            </div>
            <div class="col text-center">
                <div class="item">
                    <h1>Heading</h1>
                    <img src="https://images.unsplash.com/photo-1585142741576-93ee8aaa8636?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <div class="item">
                    <h1>Heading</h1>
                    <img src="https://images.unsplash.com/photo-1585142741576-93ee8aaa8636?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" />
                </div>
            </div>
            <div class="col text-center">
                <div class="item">
                    <h1>Heading</h1>
                    <img src="https://images.unsplash.com/photo-1585142741576-93ee8aaa8636?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" />
                </div>
            </div>
            <div class="col text-center">
                <div class="item">
                    <h1>Heading</h1>
                    <img src="https://images.unsplash.com/photo-1585142741576-93ee8aaa8636?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" />
                </div>
            </div>
        </div>
        <!--======================================= 2019 END ================================================================-->
    </section>
    <!--======================================= 2020 ================================================================-->
    <section class="text-center">
        <div class="intermediate">
            <span class="big-circle circle-left set1"></span>
            <span class="hl"></span>
            <span class="big-circle circle-right set2"></span>
        </div>
        <div class="header">
            <span class="big-circle circle-left"></span>
            <span class="hl"></span>
            <span class="small-circle circle-right"></span>
            <span>
                <h1>2020</h1>
            </span>
            <span class="small-circle circle-left"></span>
            <span class="hl"></span>
            <span class="big-circle circle-right"></span>
        </div>
        <div class="intermediate">
            <span class="big-circle circle-left set1"></span>
            <span class="hl"></span>
            <span class="big-circle circle-right set2"></span>
        </div>
        <div class="row">
            <div class="col text-center">
                <div class="item">
                    <h1>Heading</h1>
                    <img src="https://images.unsplash.com/photo-1585142741576-93ee8aaa8636?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" />
                </div>
            </div>
            <div class="col text-center">
                <div class="item">
                    <h1>Heading</h1>
                    <img src="https://images.unsplash.com/photo-1585142741576-93ee8aaa8636?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" />
                </div>
            </div>
            <div class="col text-center">
                <div class="item">
                    <h1>Heading</h1>
                    <img src="https://images.unsplash.com/photo-1585142741576-93ee8aaa8636?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <div class="item">
                    <h1>Heading</h1>
                    <img src="https://images.unsplash.com/photo-1585142741576-93ee8aaa8636?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" />
                </div>
            </div>
            <div class="col text-center">
                <div class="item">
                    <h1>Heading</h1>
                    <img src="https://images.unsplash.com/photo-1585142741576-93ee8aaa8636?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" />
                </div>
            </div>
            <div class="col text-center">
                <div class="item">
                    <h1>Heading</h1>
                    <img src="https://images.unsplash.com/photo-1585142741576-93ee8aaa8636?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" />
                </div>
            </div>
        </div>
        <!--======================================= 2020 END ================================================================-->
    </section>
    <!--================================== HALL OF FAME END =================================================-->
    <!--========================================= NAVIGATION BAR =============================================================-->
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top" id="mainNav">
        <div class="container-fluid">
            <a class="navbar-brand js-scroll-trigger" href="#">
                <!--INSERT LOGO HERE-->
                <img class="bg-white border rounded-0 border-dark shadow-lg logo" src="" />
            </a>
            <button data-toggle="collapse" data-target="#nav" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-align-justify"></i>
            </button>
            <div class="collapse navbar-collapse" id="nav">
                <ul class="nav navbar-nav ml-auto">
                    <li role="presentation" class="nav-item">
                        <a class="nav-link text-center active js-scroll-trigger entry">HOME</a>
                    </li>
                    <li role="presentation" class="nav-item">
                        <a class="nav-link text-center active js-scroll-trigger entry">RESOURCES</a>
                    </li>
                    <li role="presentation" class="nav-item">
                        <a class="nav-link text-center active js-scroll-trigger entry">GALLERY</a>
                    </li>
                    <li role="presentation" class="nav-item">
                        <a class="nav-link text-center active js-scroll-trigger entry">EVENTS</a>
                    </li>
                    <li role="presentation" class="nav-item">
                        <a class="nav-link text-center active js-scroll-trigger entry">HALL OF FAME</a>
                    </li>
                    <li role="presentation" class="nav-item">
                        <a class="nav-link active text-center js-scroll-trigger entry">PROJECTS</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--========================================= NAVIGATION BAR END =============================================================-->
    <!--==================================== NAVIGATION BAR JS FILES ==============================================-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!--==================================== NAVIGATION BAR JS FILES END ==============================================-->
</body>

</html>
