<!DOCTYPE html>
<html>
    <head>
         <!-------------------------------connecting to meta----------------------------------->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!--------------------------------connecting to css--------------------------------------------------->
        <link href="/Design_X_Club/gallery/css/style.css" rel="stylesheet">
        <link href="/Design_X_Club/gallery/css/footer.css" rel="stylesheet">
    <link href="/Design_X_Club/gallery/css/style-archive.css" rel="stylesheet">
    <!---------------------------------connecting to js file--------------------------------------------------->
    <script src="js/carousel.js"></script>
        <!-----------------------------------bootstrap depedencies------------------------------------------------>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <!-------------------------------------connecting to stylesheet-------------------------------------->
        <link rel="stylesheet" type="text/css" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <!---------------------------------------connecting to bootstrap------------------------------------------>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <!------------------------------------------------google fonts link------------------------------------->
        <link href="https://fonts.googleapis.com/css?family=Monoton|Shadows+Into+Light&display=swap" rel="stylesheet">
        <title> gallery </title>
    </head>
    <body > 
        <!--------------------------------------header included--------------------------------------------->
        <header style="text-align: centre;background-image: url('images/pol.jpg');background-repeat: no-repeat;background-position:100%;background-size:cover;height: 120vh;">
            <div class="display-1" style="font-size: 180px;font-family: 'Monoton', cursive;" >GALLERY </div>
        </header>
        <!---------------------------------for reflexive websites including container ,rows and coloums cards for images-------------------------->
        <main class="row">
            <div class="cards-list">
  
                <div class="card 1">
                  <div class="card_image"> <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
                  <div class="card_title title-white">
                    <p>Card Title</p>
                  </div>
                </div>
                
                  <div class="card 2">
                  <div class="card_image">
                    <img src="https://cdn.blackmilkclothing.com/media/wysiwyg/Wallpapers/PhoneWallpapers_FloralCoral.jpg" />
                    </div>
                  <div class="card_title title-white">
                    <p>Card Title</p>
                  </div>
                </div>
                
                <div class="card 3">
                  <div class="card_image">
                    <img src="https://media.giphy.com/media/10SvWCbt1ytWCc/giphy.gif" />
                  </div>
                  <div class="card_title">
                    <p>Card Title</p>
                  </div>
                </div>
                  
                  <div class="card 4">
                  <div class="card_image">
                    <img src="https://media.giphy.com/media/LwIyvaNcnzsD6/giphy.gif" />
                    </div>
                  <div class="card_title title-black">
                    <p>Card Title</p>
                  </div>
                  </div>
                
                </div>
      </main>

            <!-------------------------------partial:index.partial.html--------------------------------->

<div class="prior" style="padding:80px 0px 0px 0px ">
	<p class="prior-archive"> For more photographs please visit our photo archive. </p>
	<p class="prior-archive"> Click the photo-archive link below </p>
</div>

    <div class="wrapper">
      <span class="square individual temp">
        <a class="ninth before after lol" href="/xclub/gallery/archive">Photo Archive</a>
      </span>
    </div>
    <!----------------------------- partial---------------------------------------------------->

      <!--------------------------------------------footer included having 3 social media links and four other pages link------------------------------>
      <div class="footer">
        <footer>
            <div class="text-light social">
                <a href="#" target="_blank"><i class="icon ion-social-instagram"></i></a>
                <a href="#" target="_blank"><i class="icon ion-social-linkedin"></i></a>
                <a href="#" target="_blank"><i class="icon ion-social-facebook"></i></a>
            </div>
            <ul class="list-inline text-light" >
                <li class="list-inline-item entry" ><a href="#">RESOURCES</a></li>
                <li class="list-inline-item entry" ><a href="#">GALLERY</a></li>
                <li class="list-inline-item entry" ><a href="#">EVENTS</a></li>
                <li class="list-inline-item entry" ><a href="#">PROJECTS</a></li>
            </ul>
            <p class="copyright"><a href="http://www.iiitg.ac.in/" target="_blank">Indian Institute of Information Technology Guwahati &copy; 2020</a></p>
        </footer>
        <!-------------------------------------------------navigation bar included at with 6 links------------------------------>
        <nav class="navbar navbar-dark navbar-expand-lg fixed-top" id="mainNav">
            <div class="container-fluid">
                <a class="navbar-brand js-scroll-trigger" href="#">
                    <!--INSERT LOGO HERE-->
                    <img class="bg-white border rounded-0 border-dark shadow-lg logo" src="" />
                </a>
                <button data-toggle="collapse" data-target="#nav" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-align-justify"></i>
                </button>
                <div class="collapse navbar-collapse" id="nav">
                    <ul class="nav navbar-nav ml-auto">
                        <li role="presentation" class="nav-item">
                            <a class="nav-link text-center active js-scroll-trigger entry">HOME</a>
                        </li>
                        <li role="presentation" class="nav-item">
                            <a class="nav-link text-center active js-scroll-trigger entry">RESOURCES</a>
                        </li>
                        <li role="presentation" class="nav-item">
                            <a class="nav-link text-center active js-scroll-trigger entry">GALLERY</a>
                        </li>
                        <li role="presentation" class="nav-item">
                            <a class="nav-link text-center active js-scroll-trigger entry">EVENTS</a>
                        </li>
                        <li role="presentation" class="nav-item">
                            <a class="nav-link text-center active js-scroll-trigger entry">HALL OF FAME</a>
                        </li>
                        <li role="presentation" class="nav-item">
                            <a class="nav-link active text-center js-scroll-trigger entry">PROJECTS</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!----------------------------------dependencies for the the js script included------------------------------------>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>
