

.navbar.navbar-light.navbar-expand-md.sticky-top {
  background-color: rgba(14,64,85,0.96);
  color: #212529;
}


.navbar-light .navbar-toggler {
  background-color: #ffffff;
  width: 55px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: rgba(255,254,254,0.9);
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(252,250,250,0.9);
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(251,249,249,0.9);
}


#header {
  background-image: url("../../assets/img/codeback.svg");
  padding-top: 76px;
  height: 612px;
}

#headerTitle {
  color: rgb(255,255,255);
  font-weight: bold;
  padding: 23px;
  margin-top: 21px;
}

#quote {
  height: 123px;
  z-index: 2;
  position: relative;
  background-color: #169098;
  bottom: 55px;
  height: 20%;
  width: 70%;
  left: 15%;
  border-radius: 20px;
  padding: 31px;
}

#quoteText {
  color: rgb(254,255,255);
  font-size: 25px;
  padding: 0px;
  font-style: italic;
}


#about {
  padding: 9px;
  margin: 3px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#aboutTitle {
  padding: 10px;
  font-weight: bold;
}

#aboutDesc {
  margin-right: 20px;
  color: #0e4055;
  padding: 16px;
}


.col-lg-6.text-center.my-auto.order-lg-1.showcase-text {
  padding: 16px;
}



.col-lg-6.my-auto.order-lg-1.showcase-text {
  padding: 34px;
  background-color: #0e4055;
}


.col-lg-6.text-center.my-auto.order-lg-1.showcase-text {
  background-color: rgb(255,255,255);
}



