@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  font-family:'Open Sans', sans-serif;
  text-align: center;
}

.prior-archive{
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	font-weight: 600;
}

.wrapper{
  text-align: center;
  margin: 50px;
}

.temp{
	text-align: center;
}

.lol{
	display: inline-block;	
	text-align: center;
	font-size: 100px;
}

.lol,.lol:visited,.lol:hover,.lol:active{
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
	position:relative;
  transition:0.5s color ease;
	text-decoration:none;
	color:#81b3d2;
	font-size:2.5em;
}
.lol:hover{
	color:#d73444;
}
.lol.before:before,.lol.after:after{
  content: "";
  transition:0.5s all ease;
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:absolute;
}
.lol.before:before{
  top:-0.25em;
}
.lol.after:after{
  bottom:-0.25em;
}
.lol.before:before,.lol.after:after{
  height:5px;
  height:0.25em;
  width:0;
  background:#d73444;
}

.lol.seventh:before{
  right:0;
}
.lol.seventh:after{
  left:0;
}

.lol.before:hover:before,.lol.after:hover:after{
  width:100%;
}
.square{
  box-sizing:border-box;
  margin-left:-0.4em;
  position:relative;
  font-size:2.5em;
  overflow:hidden;
}
.square .lol{
  position:static;
  font-size:100%;
  padding:0.2em 0.4em;
}
.square:before,.square:after{
  content: "";
  box-sizing:border-box;
  transition:0.25s all ease;
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:absolute;
  width:5px;
  width:0.35rem;
  height:0;
  background:#d73444;
}
.square:before{
  left:0;
  bottom:-0.2em;
}
.square.individual:before{
  transition-delay:0.6s;
}
.square:after{
  right:0;
  top:-0.2em;
}
.square.individual:after{
  transition-delay:0.2s;
}
.square .lol:before{
  left:0;
  transition:0.25s all ease;
}
.square .lol:after{
  right:0;
  transition:0.25s all ease;
}
.square.individual a:after{
  transition:0.25s all ease 0.4s;
}
.square:hover:before,.square:hover:after{
  height:calc(100% + 0.4em);
}
.square:hover .lol:before,.square:hover .lol:after{
  width:100%;
}
